.banner{
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/19/08/hangers-1850082_640.jpg");
    background-position: center;
    background-size: cover;
    z-index: -10;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height:400px;
}